go 1.19

use (
	./arrays-and-slices
	./async-counter
	./concurrency
	./dependancy-injection
	./dictionary
	./hello-world
	./integers
	./iteration
	./mocking
	./perimeter
	./racer
	./reflection
	./sync
	./wallet
)
